
<script>
        $(document).ready(function(){
            $("#sendemail").click(function(){
                var emailValue = $("#email").val();

                $.ajax({
                    type: "POST",
                    url: "https://www.budgetcontrol.cloud/savemail",
                    data: JSON.stringify({email: emailValue}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                });

                if(response.status === 200){
                    $("#showmessage").show();
                }
            });
        });
    </script>

</body>

</html>