<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="{{ seo.keywords }}" />
  <meta name="description" content="{{ seo.description }}" />
  <meta name="author" content="{{seo.author}}" />
  <meta name="og:title" content="{{ seo.og_title }}" />
  <meta name="og:description" content="{{ seo.og_description }}" />
  <meta name="og:image" content="{{ seo.og_image[0].url }}" />
  <meta name="og:url" content="{{ seo.og_url }}" />
  <meta name="og:locale" content="{{ seo.og_locale }}" />
  <meta name="og:type" content="{{ seo.og_type }}" />
  <meta name="og:site_name" content="{{ seo.og_site_name }}" />
  <meta name="og:facebook_publisher" content="{{ seo.article_publisher }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ seo.twitter_title }}" />
  <meta name="twitter:description" content="{{ seo.twitter_description }}" />
  <meta name="twitter:image" content="{{ seo.twitter_image }}" />
  <meta name="twitter:site" content="{{ seo.twitter_site }}" />
  <meta name="twitter:creator" content="{{ seo.twitter_creator }}" />
  <meta name="article:published_time" content="{{ seo.published_time }}" />
  <meta name="article:modified_time" content="{{ seo.modified_time }}" />


  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title>{{ seo.title }} </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2CK8JB6PQ2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-2CK8JB6PQ2');
  </script>

</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="/images/hero-bg.png" alt="">
      </div>
    </div>
  
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              BudgetControl
            </span>
          </a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class=""> </span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/"> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog"> Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-budgetcontrol"> About us</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/documentation">Documentation</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="/budgetcontrol-for-professional-use">Professional use</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/donations">Help Us</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="https://app.budgetcontrol.cloud"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
