
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->

<head>
	<!-- Website Template designed by www.downloadwebsitetemplates.co.uk -->
	<meta charset="UTF-8">
	<title>Budget Control: Track and Manage Your Finances with Ease</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/ico/apple-touch-icon-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/ico/apple-touch-icon-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/ico/apple-touch-icon-72.png">
	<link rel="apple-touch-icon-precomposed" href="assets/images/ico/apple-touch-icon-57.png">
	<link rel="shortcut icon" href="assets/images/ico/favicon.png">
	<!--[if IE]><![endif]-->
	<link rel="stylesheet" href="assets/css/style.css">
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/countdown.js"></script>
	<script src="assets/js/owlcarousel.js"></script>
	<script src="assets/js/uikit.scrollspy.js"></script>
	<script src="assets/js/scripts.js"></script>
	<!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-2CK8JB6PQ2"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', '{{ google_analytics_code}}');
	</script>
</head>