{% include 'partials/header.html' %}


<section class="page layout_padding">
	<div class="service_container">
		<div class="container ">
			<div class="heading_container heading_center">
				<h2>
					Our <span>Blog</span>
				</h2>
			</div>
			
			
			<div class="row">
			{% for post in posts %}

				<div class="col-md-4 ">
					<div class="box ">
						<div class="img-box-article">
							<img src="{{ post.media }}" alt="{{ post.title }}">
						</div>
						<div class="detail-box">
							<h5>
								{{ post.title }}
							</h5>
								{{ post.excerpt | raw}}
							<a href="{{ post.link}}">
								Read More
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>

			
			<div class="btn-box">
				<!-- <a href="">
					View All
				</a> -->
			</div>
		</div>
	</div>
</section>

<section class="page layout_padding">
	<div class="container">
		<div class="heading_container heading_center">
			<h2>
				Why Choose <span>Us</span>
			</h2>
			<p>
				Choose us for unparalleled financial empowerment. Our commitment to user-friendly interfaces, robust
				security measures, and continuous improvement sets us apart. With our comprehensive features, free
				accessibility, and dedication to your financial success, we're your trusted partner on the path to
				financial well-being.
			</p>
		</div>
		<div class="why_container">
			<div class="box">
				<div class="img-box">
					<img src="images/w1.png" alt="">
				</div>
				<div class="detail-box">
					<h5>
						User-Friendly Interface
					</h5>
					<p>
						Our intuitive interface makes managing your finances a breeze, whether you're a seasoned
						investor or new to budgeting.
					</p>
				</div>
			</div>
			<div class="box">
				<div class="img-box">
					<img src="images/w2.png" alt="">
				</div>
				<div class="detail-box">
					<h5>
						Security and Privacy
					</h5>
					<p>
						Rest assured, your financial data is encrypted and securely stored. Your privacy is our top
						priority.
					</p>
				</div>
			</div>
			<div class="box">
				<div class="img-box">
					<img src="images/w3.png" alt="">
				</div>
				<div class="detail-box">
					<h5>
						Continuous Improvement
					</h5>
					<p>
						We're committed to delivering the best possible experience for our users. Expect regular updates
						and enhancements to further elevate your financial management journey.
					</p>
				</div>
			</div>
			<div class="box">
				<div class="img-box">
					<img src="images/w4.png" alt="">
				</div>
				<div class="detail-box">
					<h5>
						Free application
					</h5>
					<p>
						Selecting our platform means gaining access to a powerful financial management tool, completely
						free of charge. Our commitment to offering a no-cost solution ensures that anyone, regardless of
						their financial situation, can benefit from our app's features without any barriers.
					</p>
				</div>
			</div>
		</div>
		<div class="btn-box">
			<!-- <a href="">
				Read More
			</a> -->
		</div>
	</div>
</section>


{% include 'partials/footer.html' %}