{% include 'partials/header.html' with {'seo' : seo } %}

<!-- team section -->
 <section class="full_page team_section layout_padding">
	<div class="container-fluid">
		<div class="heading_container heading_center">
			<h2 class="">
				Our <span> Contributors</span>
			</h2>
			<p>See our Open Collective Europe contributors on the <a href="https://opencollective.com/budgetcontrol">official link</a> </p>
		</div>

		<div class="team_container">
			<div class="row">

				<div class="col-lg-3 col-sm-6">
					<div class="box ">
						<div class="img-box">
							<img src="/images/contributors/marco-de-felice-avatar-budgetcontrol.jpg" class="img1" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Marco De Felice
							</h5>
							<p>
								App Creator & Main Developer
							</p>
						</div>
						<div class="social_box">
							<a target="_blank" href="https://www.marcodefelice.it">
								<i class="fa fa-globe" aria-hidden="true"></i>
							</a>
							<a target="_blank" href="https://www.linkedin.com/in/marco-de-felice-79b2a911/">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="box ">
						<div class="img-box">
							<img src="/images/contributors/financial-analyst-budget-control.jpg" class="img1" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Yovana Felices
							</h5>
							<p>
								Financial Analyst
							</p>
						</div>
						<div class="social_box">
							
						</div>
					</div>
				</div>

                <div class="col-lg-3 col-sm-6">
					<div class="box ">
						<div class="img-box">
							<img src="/images/contributors/hr-avatar-budget-control.jpg" class="img1" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Andrea De Felice
							</h5>
							<p>
								HR - Administration
							</p>
						</div>
						<div class="social_box">
							
						</div>
					</div>
				</div>

                <div class="col-lg-3 col-sm-6">
					<div class="box ">
						<div class="img-box">
							<img src="/images/contributors/martina-manca-budget-control.png" class="img1" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Martina Manca
							</h5>
							<p>
								Brand Strategist
							</p>
						</div>
						<div class="social_box">
							<a target="_blank" href="https://martinamanca.com">
								<i class="fa fa-globe"  aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- end team section -->

{% include 'partials/footer.html' %}