{% include 'partials/header.html' %}

<!-- documentation section -->

<section class="page layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Contact <span>Us</span>
      </h2>
    </div>
    <div class="page">
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <p>
              We're here to help! If you have any questions, feedback, or concerns, please don't hesitate to reach out to us. We value your input and are committed to providing you with the best possible experience. Your satisfaction is our top priority, and we're dedicated to addressing your needs promptly and effectively.
             </p>
          </div>

          <div class="container contact-form">
            <div class="col-md-12">
              <form id="contact-form" action="javascript:void(0)">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="message" rows="5" placeholder="Enter your message" required></textarea>
                </div>
                <div class="form-group">
                    <input type="checkbox" required /> 
                    <label class="f" for="privacy">
                      I accept the <a href="https://dev.budgetcontrol.cloud/privacy"> policy policy </a>
                    </label>
                </div>
                <button type="submit" class="btn cen">Submit</button>
              </form>
            </div>
          </div>

        </div>
</section>

<!-- end documentation section -->

{% include 'partials/footer.html' %}