{% include 'partials/header.html' %}


	<!-- end header section -->
	<!-- slider section -->
	<section class="slider_section ">
		<div id="customCarousel1" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container ">
						<div class="row">
							<div class="col-md-6 ">
								<div class="detail-box">
									<h1>
										Crypto <br>
										Currency
									</h1>
									<p>
										Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat
										hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias,
										veniam, vel architecto veritatis delectus repellat modi impedit sequi.
									</p>
									<div class="btn-box">
										<a href="" class="btn1">
											Read More
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="img-box">
									<img src="images/slider-img.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item ">
					<div class="container ">
						<div class="row">
							<div class="col-md-6 ">
								<div class="detail-box">
									<h1>
										Crypto <br>
										Currency
									</h1>
									<p>
										Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat
										hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias,
										veniam, vel architecto veritatis delectus repellat modi impedit sequi.
									</p>
									<div class="btn-box">
										<a href="" class="btn1">
											Read More
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="img-box">
									<img src="images/slider-img.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container ">
						<div class="row">
							<div class="col-md-6 ">
								<div class="detail-box">
									<h1>
										Crypto <br>
										Currency
									</h1>
									<p>
										Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat
										hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias,
										veniam, vel architecto veritatis delectus repellat modi impedit sequi.
									</p>
									<div class="btn-box">
										<a href="" class="btn1">
											Read More
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="img-box">
									<img src="images/slider-img.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ol class="carousel-indicators">
				<li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
				<li data-target="#customCarousel1" data-slide-to="1"></li>
				<li data-target="#customCarousel1" data-slide-to="2"></li>
			</ol>
		</div>

	</section>
	<!-- end slider section -->
</div>


<!-- service section -->

<section class="service_section layout_padding">
	<div class="service_container">
		<div class="container ">
			<div class="heading_container heading_center">
				<h2>
					Key <span>Features</span>
				</h2>
			</div>
			<div class="row">
				<div class="col-md-4 ">
					<div class="box ">
						<div class="img-box">
							<img src="images/s1.png" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Comprehensive Statistics and Graphs
							</h5>
							<p>
								Gain valuable insights into your spending habits with detailed annual and monthly breakdowns presented in visually appealing graphs. Understand where your money is going and make informed decisions.
							</p>
							<a href="">
								Read More
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="box ">
						<div class="img-box">
							<img src="images/s2.png" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Transaction Tracking
							</h5>
							<p>
								Keep a detailed record of all your transactions, ensuring transparency and accountability in your financial activities.
							</p>
							<a href="">
								Read More
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="box ">
						<div class="img-box">
							<img src="images/s3.png" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Financial Planning and Forecasting
							</h5>
							<p>
								Plan for the future with ease by utilizing our forecasting tools. Stay ahead of the game by setting financial goals and tracking your progress.
							</p>
							<a href="">
								Read More
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 ">
					<div class="box ">
						<div class="img-box">
							<img src="images/s1.png" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Search Functionality
							</h5>
							<p>
								Find specific transactions quickly and efficiently with our powerful search feature. No more scrolling through endless lists – locate what you need in seconds.
							</p>
							<a href="">
								Read More
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="box ">
						<div class="img-box">
							<img src="images/s2.png" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Transaction Tagging
							</h5>
							<p>
								Organize your transactions effortlessly by assigning tags. Categorize expenses for better clarity and analysis.
							</p>
							<a href="">
								Read More
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="box ">
						<div class="img-box">
							<img src="images/s3.png" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Budget Configuration
							</h5>
							<p>
								Set your budget and receive timely email notifications when you exceed your limits. Stay on top of your finances effortlessly.
							</p>
							<a href="">
								Read More
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="btn-box">
				<a href="">
					View All
				</a>
			</div>
		</div>
	</div>
</section>

<!-- end service section -->


<!-- about section -->

<section class="about_section layout_padding">
	<div class="container  ">
		<div class="heading_container heading_center">
			<h2>
				About <span>Budget Control</span>
			</h2>
			<p>
				We're passionate about empowering individuals to take control of their finances and achieve financial
				freedom.
			</p>
		</div>
		<div class="row">
			<div class="col-md-6 ">
				<div class="img-box">
					<img src="images/about-img.png" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="detail-box">
					<h3>
						We are your financial compass.
					</h3>
					<p>
						Are you looking for a reliable solution to manage your expenses effortlessly? <br />
						Look no further! Our innovative Progressive Web Application is here to revolutionize the way you
						track your spending.</p>
					<P>
						With Budget Control, you have the flexibility to configure multiple wallets, whether it's your
						bank account, credit card, cash, or investment portfolio. Say goodbye to the hassle of juggling
						between different platforms – everything you need is right at your fingertips.
					</p>
					<a href="">
						Read More
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- end about section -->

<!-- why section -->

<section class="why_section layout_padding">
	<div class="container">
		<div class="heading_container heading_center">
			<h2>
				Why Choose <span>Us</span>
			</h2>
			<p>
				Choose us for unparalleled financial empowerment. Our commitment to user-friendly interfaces, robust
				security measures, and continuous improvement sets us apart. With our comprehensive features, free
				accessibility, and dedication to your financial success, we're your trusted partner on the path to
				financial well-being.
			</p>
		</div>
		<div class="why_container">
			<div class="box">
				<div class="img-box">
					<img src="images/w1.png" alt="">
				</div>
				<div class="detail-box">
					<h5>
						User-Friendly Interface
					</h5>
					<p>
						Our intuitive interface makes managing your finances a breeze, whether you're a seasoned
						investor or new to budgeting.
					</p>
				</div>
			</div>
			<div class="box">
				<div class="img-box">
					<img src="images/w2.png" alt="">
				</div>
				<div class="detail-box">
					<h5>
						Security and Privacy
					</h5>
					<p>
						Rest assured, your financial data is encrypted and securely stored. Your privacy is our top
						priority.
					</p>
				</div>
			</div>
			<div class="box">
				<div class="img-box">
					<img src="images/w3.png" alt="">
				</div>
				<div class="detail-box">
					<h5>
						Continuous Improvement
					</h5>
					<p>
						We're committed to delivering the best possible experience for our users. Expect regular updates
						and enhancements to further elevate your financial management journey.
					</p>
				</div>
			</div>
			<div class="box">
				<div class="img-box">
					<img src="images/w4.png" alt="">
				</div>
				<div class="detail-box">
					<h5>
						Free application
					</h5>
					<p>
						Selecting our platform means gaining access to a powerful financial management tool, completely
						free of charge. Our commitment to offering a no-cost solution ensures that anyone, regardless of
						their financial situation, can benefit from our app's features without any barriers.
					</p>
				</div>
			</div>
		</div>
		<div class="btn-box">
			<a href="">
				Read More
			</a>
		</div>
	</div>
</section>

<!-- end why section -->

<!-- team section -->
<section class="team_section layout_padding">
	<div class="container-fluid">
		<div class="heading_container heading_center">
			<h2 class="">
				Our <span> Team</span>
			</h2>
		</div>

		<div class="team_container">
			<div class="row">

				<div class="col-lg-3 col-sm-6">
					<div class="box ">
						<div class="img-box">
							<img src="images/anonymity-person.png" height="120px" class="img1" alt="">
						</div>
						<div class="detail-box">
							<h5>
								We are looking for
							</h5>
							<p>
								Frontend Developer
							</p>
						</div>
						<div class="social_box">
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="box ">
						<div class="img-box">
							<img src="images/team-1.jpg" class="img1" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Marco De Felice
							</h5>
							<p>
								App Creator & Main Developer
							</p>
						</div>
						<div class="social_box">
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="box ">
						<div class="img-box">
							<img src="images/team-2.jpg" class="img1" alt="">
						</div>
						<div class="detail-box">
							<h5>
								Yovana Felices
							</h5>
							<p>
								Financial Analyst
							</p>
						</div>
						<div class="social_box">
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="box ">
						<div class="img-box">
							<img src="images/anonymity-person.png" height="120px" class="img1" alt="">
						</div>
						<div class="detail-box">
							<h5>
								We are looking for
							</h5>
							<p>
								Marketing Specialist
							</p>
						</div>
						<div class="social_box">
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- end team section -->


<!-- client section -->

<section class="client_section layout_padding">
	<div class="container">
		<div class="heading_container heading_center psudo_white_primary mb_45">
			<h2>
				What says our <span>Customers</span>
			</h2>
		</div>
		<div class="carousel-wrap ">
			<div class="owl-carousel client_owl-carousel">
				<div class="item">
					<div class="box">
						<div class="img-box">
							<img src="images/client1.jpg" alt="" class="box-img">
						</div>
						<div class="detail-box">
							<div class="client_id">
								<div class="client_info">
									<h6>
										LusDen
									</h6>
									<p>
										magna aliqua. Ut
									</p>
								</div>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="box">
						<div class="img-box">
							<img src="images/client2.jpg" alt="" class="box-img">
						</div>
						<div class="detail-box">
							<div class="client_id">
								<div class="client_info">
									<h6>
										Zen Court
									</h6>
									<p>
										magna aliqua. Ut
									</p>
								</div>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="box">
						<div class="img-box">
							<img src="images/client1.jpg" alt="" class="box-img">
						</div>
						<div class="detail-box">
							<div class="client_id">
								<div class="client_info">
									<h6>
										LusDen
									</h6>
									<p>
										magna aliqua. Ut
									</p>
								</div>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="box">
						<div class="img-box">
							<img src="images/client2.jpg" alt="" class="box-img">
						</div>
						<div class="detail-box">
							<div class="client_id">
								<div class="client_info">
									<h6>
										Zen Court
									</h6>
									<p>
										magna aliqua. Ut
									</p>
								</div>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include 'partials/footer.html' %}