 {% include 'partials/header.twig' %}

<body id="backtotop">

	<div class="fullwidth clearfix">
		<div id="topcontainer" class="bodycontainer clearfix"
			data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

			<p><span class="fa fa-signal"></span></p>
			<h1><span>Budget Control</span><br />is coming soon</h1>
			<p>It's almost ready ... honest</p>

		</div>
	</div>

	<div class="arrow-separator arrow-white"></div>

	<div class="fullwidth colour1 clearfix">
		<div id="countdown" class="bodycontainer clearfix"
			data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

			<div id="countdowncont" class="clearfix">
				<ul id="countscript">
					<li>
						<span class="days">00</span>
						<p>Days</p>
					</li>
					<li>
						<span class="hours">00</span>
						<p>Hours</p>
					</li>
					<li class="clearbox">
						<span class="minutes">00</span>
						<p>Minutes</p>
					</li>
					<li>
						<span class="seconds">00</span>
						<p>Seconds</p>
					</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="arrow-separator arrow-theme"></div>

	<div class="fullwidth colour2 clearfix">
		<div id="maincont" class="bodycontainer clearfix"
			data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
			
			<p>Budget Control is your all-in-one solution for effortless financial management. Take charge of your
				finances with intuitive tools that make budgeting a breeze. Track your expenses, set savings goals, and
				stay on top of your financial game. With Budget Control, achieving financial wellness has never been
				more straightforward. Experience simplicity and empowerment in one powerful app.</p>
			<p>	Feel free to customize it based on specific features or unique aspects of your app!
			</p>

			<p>Budget Control is Open Source, join the project and contribute your ideas! <br><a href="https://github.com/BudgetControl">github.com/BudgetControl</a></p>
			
			<h2>Sign up and we'll let you know when we launch</h2>
			<p>If you would like to receive <strong>news and special offers</strong> please send us your email address
				below:</p>
				<p id="showmessage" style="color:white; font-weight: 400; visibility: hidden;">Thank you for providing your email. You will be notified at the application launch before others! </p>
			<div id="signupform" class="sb-search clearfix">
				<form method="post" action="javascript:void(0)" id="contact" class="clearfix">
					<input class="sb-search-input" id="email" placeholder="Enter email ..." type="text" value="">
					<input class="sb-search-submit" value="" type="submit">
					<button class="formbutton" id="sendemail" type="submit"><span class="fa fa-search"></span></button>
				</form>
			</div>

		</div>
	</div>

	<div class="arrow-separator arrow-themelight"></div>

	<div class="fullwidth colour3 clearfix">
		<div id="quotecont" class="bodycontainer clearfix"
			data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

			<div id="commentslider" class="owl-carousel">
				<div class="item">
					<p>"Nell'arte della gestione finanziaria, la sua abilità nel bilanciare entrate e uscite potrebbe essere paragonata a un direttore d'orchestra esperto nell'armonizzare le note di entrate e spese, incantando il pubblico con una sinfonia di equilibrio finanziario."</p>
				</div>
			</div>

		</div>
	</div>

	<div class="arrow-separator arrow-grey"></div>

	<div class="fullwidth clearfix">
		<div id="footercont" class="bodycontainer clearfix"
			data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

			<p class="backtotop"><a title="" href="#backtotop"><span class="fa fa-angle-double-up"></span></a></p>
			<div id="socialmedia" class="clearfix">
				<ul>
					<li><a title="" href="#" rel="external"><span class="fa fa-facebook"></span></a></li>
					<li><a title="" href="#" rel="external"><span class="fa fa-twitter"></span></a></li>
					<li><a title="" href="#" rel="external"><span class="fa fa-google-plus"></span></a></li>
					<li><a title="" href="#" rel="external"><span class="fa fa-linkedin"></span></a></li>
					<li><a title="" href="#" rel="external"><span class="fa fa-pinterest"></span></a></li>
				</ul>
			</div>
			<p>Mlbafcatory by Marco De Felice <a title="website template"
				href="https://www.mlabfactory.it" rel="external">Website</a>
			Free Responsive Website Template by <a title="website template"
					href="https://www.downloadwebsitetemplates.co.uk" rel="external">Website Template</a> - Icons by <a
					title="" href="https://fortawesome.github.io/Font-Awesome/" rel="external">Font Awesome</a></p>
		</div>
	</div>

 {% include 'partials/footer.twig' %}