{% include 'partials/header.html' %}

<!-- documentation section -->

<section class="page layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Privacy for <span> Budgetcontrol Application </span>
      </h2>
    </div>
    <div class="why_container">
      <div class="box">
        <div class="detail-box">
          <h3>Effective Date: 2024 September 1</h3>
          <p><b>1. General Principles</b><br>
            The Budgetcontrol application is a free, Open Source project developed by MlabFactory and managed by Marco
            De Felice, with its registered office in Somma Lombardo (VA), Italy. We are committed to processing personal
            data transparently and securely, in accordance with European privacy regulations, including the General Data
            Protection Regulation (GDPR). This policy provides information on what personal data we collect, how we use
            it, and your rights.
          </p>
          <p><b>2. Data Collected</b><br>
            While using the Budgetcontrol application, we may collect the following personal data:
            Identification data: email address for account creation and other voluntarily provided information such as
            name, surname, date of birth.
            Technical data: information about how you use the app, including log data and usage details through
            analytics
            tools.
            Transactional data: if you use the app's features to monitor your finances, we will collect details about
            income, expenses, categories, and other related information.
          </p>
          <p>
            <b>3. Purpose of Data Processing</b><br>
            The collected data will be used to:
            Provide the services offered by the app, including technical support and system notifications.
            Improve the application and analyze its usage to optimize the user experience.
            Send relevant communications related to the services offered, including updates and promotions, where you
            have
            provided consent.
          </p>
          <p><b> 4. Data Retention</b><br>
            We will retain your personal data as long as you actively use the application. If you do not access your
            account for more than 24 months, your data will be deactivated and subsequently deleted. You can also
            request
            the deletion of your data at any time.
          </p>
          <p>
            <b>5. Data Sharing</b><br>
            Your data will not be shared with third parties unless it is necessary to fulfill legal obligations, or you
            have given explicit consent. For example, we may share your data with technical service providers (e.g.,
            hosting) or legal advisors to protect our rights.
          </p>
          <p>
            <b> 6. Data Security</b><br>
            We adopt appropriate technical and organizational measures to protect your personal data against
            unauthorized
            access, loss, or disclosure. All data is processed in compliance with ISO 27001 security standards and
            undergoes regular checks.
          </p>
          <p>
            <b> 7. Your Rights</b><br>
            You have the right to access, rectify, or delete your personal data, as well as to object to its processing
            or
            request its restriction. You can exercise your rights by contacting us at info@budgetcontrol.cloud.
          </p>
          <p>
            <b> 8. Contact Information</b><br>
            For any questions or requests regarding privacy, you can contact us at:<br>
            Marco De Felice<br>
            <a href="https://www.mlabfactory.it">MlabFactory</a><br>
            Somma Lombardo (VA), Italy<br>
            Email: info@budgetcontrol.cloud<br>
            <p>9. Changes to the Privacy Policy</p><br>
            We reserve the right to modify this privacy policy at any time. Any changes will be posted on this page with
            a
            new effective date.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end documentation section -->

{% include 'partials/footer.html' %}