{% include 'partials/header.html' %}

<!-- documentation section -->

<section class="page layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Terms and Conditions for <span>BudgetControl</span>
      </h2>
    </div>
    <div class="why_container">
      <div class="box">
        <div class="detail-box">

          <h3>Effective Date: 2024 September 1</h3>
          <p><b>1. Introduction</b><br>
            Welcome to Budgetcontrol, a free, open-source financial application created by MlabFactory and managed by
            Marco De Felice, with its registered office in Somma Lombardo (VA), Italy. By using this application, you
            agree to these Terms and Conditions. If you do not agree with these terms, please refrain from using
            Budgetcontrol.
          </p>
          <p><b>2. Application Overview</b><br>
            Budgetcontrol is a free tool designed to help users manage their finances. As an open-source application, it
            is available to the public without charge. While we strive to provide a reliable and secure service,
            Budgetcontrol is provided "as-is" without any warranties or guarantees regarding its functionality or
            reliability.
          </p>
          <p><b>3. Ownership and Intellectual Property
              The Budgetcontrol application and its code are the intellectual property of MlabFactory. The owner of the
              application is Marco De Felice. As an open-source project, users are permitted to modify and redistribute
              the code in compliance with the applicable open-source license, provided that the original authorship is
              acknowledged.
          </p>
          <p><b>4. Data Security</b><br>
            Although Budgetcontrol is an open-source application, we prioritize the security of your data. All data
            input into the application is stored in secure databases. We do not share your data with marketing companies
            or any third-party entities. However, users are responsible for ensuring that any personal data they input
            into the application is managed appropriately.
          </p>
          <p><b>5. Limitation of Liability
              As Budgetcontrol is provided free of charge and as an open-source application, we do not accept any
              responsibility for the accuracy, reliability, or availability of the application. Users acknowledge and
              agree that they use the application at their own risk. MlabFactory and Marco De Felice are not liable for
              any damages, losses, or other consequences arising from the use of Budgetcontrol.
          </p>
          <p><b>6. User Responsibilities</b><br>
            Users of Budgetcontrol are responsible for the proper use of the application. This includes ensuring the
            security of their personal information and any financial data entered into the app. Users must also comply
            with all applicable laws and regulations regarding data protection.
          </p>
          <p><b>7. Modifications to the Application and Terms
              We reserve the right to update or modify Budgetcontrol at any time. Similarly, these Terms and Conditions
              may be revised periodically. Any changes will be posted on this page with a new effective date. Continued
              use of the application after changes are made constitutes your acceptance of the revised terms.
          </p>
          <p><b>8. Governing Law</b><br>
            These Terms and Conditions are governed by the laws of Italy. Any disputes arising from the use of
            Budgetcontrol will be subject to the jurisdiction of the courts in Somma Lombardo (VA), Italy.
          </p>
          <p><b>9. Contact Information</b><br>
            For any questions or concerns regarding these Terms and Conditions, please contact:<br>
            Marco De Felice<br>
            <a href="https://www.mlabfactory.it">MlabFactory</a><br>
            Somma Lombardo (VA), Italy<br>
            Email: info@budgetcontrol.cloud<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end documentation section -->

{% include 'partials/footer.html' %}